#app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background: linear-gradient(to bottom, #603e9f, #2e0c4b);
  background: linear-gradient(to right, #a5a4a4, #3b3c3c);
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
  background: linear-gradient(to right, #e6dada, #274046);
  background: linear-gradient(to right, #859398, #283048);
  background-image: url(background/bback3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (orientation: landscape) {
  #app {
    height: 122vh;
  }
}

.erdpay-h1 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 30px;
}

h1 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.95);
}

h2 {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
  align-self: self-start;
  margin-left: 35px;
  margin-top: 25px;
  margin-bottom: 5px;
}

button {
  width: 240px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 25px;

  background-color: rgba(255, 255, 255, 0.07);
  box-shadow: inset 0.5px 0.5px 0px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px rgba(0, 0, 0, 0.1);

  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  outline: none;

  will-change: transform;
  transition: all 0.3s;
}

button:hover {
  transform: perspective(1px) scale(1.04, 1.04);
  background-color: rgba(255, 255, 255, 0.15);
  /* border: 0.5px solid rgba(255, 255, 255, 0.2); */
}

button:active {
  background-color: rgba(255, 255, 255, 0.02);
}

/* 기준(transfer winddow) 와의 차이점
goback-button:
width: 30
height: 30
border radius: 10
box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1), -1px -1px 4px rgba(0, 0, 0, 0.1);
background-color: rgba(255, 255, 255, 0.05);

main-window:
width: 220
height: 50
border radius: 18


session-window(only first button):
height: 50 
*/

input[type="text"],
input[type="password"] {
  width: 380px;
  height: 38px;
  padding-left: 15px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 20px;

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5),
    0.8px 0.8px 1px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);

  font-size: 16px;
  color: rgba(255, 255, 255, 1);

  cursor: text;
  caret-color: rgba(255, 255, 255, 0.6);
  outline: none;

  transition: 0.3s;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
  color: white;
  opacity: 0.4;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #2e2e2e;
}

/* applied, if autofilled */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;

  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5),
    0.8px 0.8px 1px rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.15);
}

select {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
  caret-color: rgba(255, 255, 255, 0.6);
  outline: none;
  padding: 10px;

  will-change: width;
  transition: all 0.3s ease-out;

  /* scrollbar erase for Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* scrollbar erase for Firefox */
  scrollbar-width: none;
}
/* scrollbar erase for safari & chrome */
select::-webkit-scrollbar {
  display: none;
}

option {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  cursor: pointer;
  will-change: transform;
  transition: all 0.2s;
}

option:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
  transform: scale(1.01);
}
