#paymentPopup {
  .widget-header {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }

  .widget-header .erdstall-logo {
    transform: scale(0.7);
    position: relative;
    right: -25px;
    cursor: pointer;
  }
  /* 





  */
  /* Account */
  .l-session-window {
    width: 550px;
    height: 550px;
  }

  .l-session-window__header {
    margin-top: 25px;
  }

  .l-session-window__form {
    margin-top: 50px;
  }
  /* 




  */
  /* Transfer */
  .l-transfer-window-container {
    width: 700px;
    height: 830px;
  }

  .l-transfer-title {
    align-self: self-start;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .l-transfer-title:last-child {
    /*for Title: Mint*/
    margin-top: 50px;
  }

  .l-transfer-window {
    width: 550px;
    height: 70px;
  }

  .l-mint-window {
    width: 550px;
    height: 550px;
  }

  .l-transfer-footer {
    margin-top: 15px;
  }
  /* 


  */
  /* pay */
  .l-pay-window-container {
    width: 700px;
    height: 900px;
  }

  .l-pay-window {
    width: 550px;
    height: 650px;
  }
}
