@import "modules/utils.css";

#paymentPopup {
  --errorRed: #ff7979;

  .erdstall-logo {
    filter: brightness(0) invert(1);
  }
  /* Main Window */
  .main-window__header p {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
  }

  .main-window__form button {
    height: 50px;
    z-index: 100;
  }
  /* 


  */

  /* Account Window */
  .session-window__header h1 {
    letter-spacing: 0.75px;
  }

  .session-window__header p {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
  }

  .session-window__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .session-window__form span {
    margin: 10px 0px;
    color: rgba(255, 255, 255, 0.6);
  }
  /* 




  */
  /* Transfer */
  .transfer-window-container .transfer-footer {
    display: flex;
    font-size: 13px;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    gap: 40px;
  }
  /* 



  */
  /* Confirm Transfer */

  .token-address-div,
  .amount-div,
  .tokenIDs-div,
  .recipient-address-div,
  .successful-div {
    color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    width: 480px;
    height: 38px;
    font-size: 16px;
    font-weight: 600;
  }

  /* Confirm Window */
  .token-id,
  .clickable-token-id {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    width: 90px;
    height: 33px;
    font-size: 13px;
    font-weight: 500;
  }

  .clickable-token-id {
    cursor: pointer;
  }

  #tokenIDs {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 20px;
    position: relative;
    right: 15px;
    width: 500px;

    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5),
      0.8px 0.8px 1px rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 90px;
    padding: 7px;
    overflow-y: scroll;
    gap: 10px;

    /* scrollbar erase for Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* scrollbar erase for Firefox */
    scrollbar-width: none;
  }

  #tokenIDs::-webkit-scrollbar {
    display: none;
  }

  .confirm-transfer-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .confirm-transfer-form button:first-child {
    background-color: #283048;
  }

  .confirm-transfer-form button:first-child:hover {
    background-color: #283048;
  }

  .confirm-transfer-form button:first-child:active {
    background-color: rgb(22, 26, 39);
  }

  .transfer-window .successful-div {
    margin-top: 40%;
  }
  .successful-transfer-form {
    margin-top: 20px;
  }
  /* 


  */
  .pay__tokenID-header {
    position: relative;
    margin-top: 10px;
    bottom: -5px;
    display: flex;
    height: 65px;
    width: 100%;

    align-items: center;
    justify-content: space-between;
  }

  .pay__tokenID-header h2 {
    position: relative;
    bottom: -5px;
  }

  .pay__tokenID-header button {
    margin-right: 20px;
    width: 80px;
    height: 35px;
  }
}
