:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color-violet: #735eed;
}

body {
  background-color: #fffdfa;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.button_container {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;
  border-radius: 1000px;
  background-color: var(--main-color-violet);
}

body button {
  background-color: var(--main-color-violet);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--main-color-violet);

  width: 200px;
  height: 50px;
  border-radius: 1000px;
  cursor: pointer;
}


img {
  filter: saturate(0%) brightness(350%);
  /*-width: 200%;*/
  max-height: 165%;
  padding: 0%;
  box-sizing: border-box;
}

.widget_body {
  box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.1), 0 0 32px 32px rgba(0, 0, 0, 0.08);
  width: 400px;
  overflow: auto;
  position: fixed;
  max-height: 1000px;

  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  
  background: rgb(123,104,238);
  background: linear-gradient(0deg, rgba(123,104,238,1) 0%, rgba(193,216,255,1) 100%);
  border-radius: 10px;
  box-sizing: border-box;
}



.open {
  opacity: 100;
  z-index: 100;
}
.widget__header {
  padding: 2.5rem 2rem 1rem;
  
  /*header text colour*/
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
h3, p, input {
  margin: 0;
  padding: 0;
}
.widget__header h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
form {
  padding: 2rem 1rem 1.5rem;
}
form button{
  width: 100%;
  height: 50px;
  border-radius: 1000px;
  margin-bottom: 8px;

  background-color: #fff;
  color:var(--main-color-violet);
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
